<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/MrAzimzadeh/index.json" />
    </packageSources>
    <!-- Credentials removed for security. Use CLI to add source with credentials locally. -->
</configuration>
